#trayectoria {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 30px;
}

#trayectoriaI {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 30px;
}

#trayectoriaA {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 30px;
}
#Component {
    color: white;
    font-family: 'Quicksand';
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

#Component img {
    padding-bottom: 8px;
}

#Contact {
    height: 200px;
    margin-top: 50px;
}

#Contact p {
    height: 100px;
    color: white;
    font-family: 'Quicksand';
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
}