#icon-card {
    height: auto;
    width: 90px;
}

#text-card {
    color: white;
    font-family: 'Quicksand';
    text-justify: distribute;
    text-align: justify;
}

#card-each {
    margin-bottom: 50px;
    margin-top: 50px;
}